<div class="form-container">
    <mat-grid-list cols="12" rowHeight="5rem">

        <!-- application -->
        <mat-grid-tile colspan="2">
            <h3>Application</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food">
                        {{food}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <!-- version -->
        <mat-grid-tile colspan="2">
            <h3>Version</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food">
                        {{food}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <!-- config -->
        <mat-grid-tile colspan="2">
            <h3>Config</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Option 1</mat-radio-button>
                <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group>
        </mat-grid-tile>

        <!-- request type -->
        <mat-grid-tile colspan="2">
            <h3>Request Type</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food">
                        {{food}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <!-- category -->
        <mat-grid-tile colspan="4">
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food">
                        {{food}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <!-- process code  -->
        <mat-grid-tile colspan="4">
            <mat-form-field appearance="fill">
                <mat-label>Process Code</mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food">
                        {{food}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <!-- event code  -->
        <mat-grid-tile colspan="4">
            <mat-form-field appearance="fill">
                <mat-label>Event Code</mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food">
                        {{food}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <!-- updated -->
        <mat-grid-tile colspan="2">
            <h3>Updated</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <input matInput [matDatepicker]="upicker1">
            <mat-datepicker-toggle matSuffix [for]="upicker1"></mat-datepicker-toggle>
            <mat-datepicker #upicker1></mat-datepicker>
        </mat-grid-tile>
        <mat-grid-tile colspan="6">
            <input matInput [matDatepicker]="upicker2">
            <mat-datepicker-toggle matSuffix [for]="upicker2"></mat-datepicker-toggle>
            <mat-datepicker #upicker2></mat-datepicker>
        </mat-grid-tile>

        <!-- created -->
        <mat-grid-tile colspan="2">
            <h3>Created</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <input matInput [matDatepicker]="cpicker1">
            <mat-datepicker-toggle matSuffix [for]="cpicker1"></mat-datepicker-toggle>
            <mat-datepicker #cpicker1></mat-datepicker>
        </mat-grid-tile>
        <mat-grid-tile colspan="6">
            <input matInput [matDatepicker]="cpicker2">
            <mat-datepicker-toggle matSuffix [for]="cpicker2"></mat-datepicker-toggle>
            <mat-datepicker #cpicker2></mat-datepicker>
        </mat-grid-tile>

    </mat-grid-list>

    <div class="form-button">
        <button mat-raised-button color="primary">Apply</button>
        <div class="small-gap"></div>
        <button mat-raised-button>Reset</button>
    </div>
</div>