<mat-dialog-content>
  <div class=" bg-white ">
    <div
      class="font-mono font-semibold text-3xl text-center text-black flex items-center justify-start ml-4 px-6 py-1 mb-0 ">
      Action Config

    </div>
    <div class="flex flex-col justify-between px-4" *ngFor="let item of actionConfig">
      <!-- {{item | json}} -->
      <app-child-action-config [item]="item"></app-child-action-config>



    </div>
    <div class="w-full flex mt-0 justify-end rounded-lg p-1">

      <button
        class="bg-blue-700 shadow-lg text-white rounded-lg py-2 px-5 justify-center text-center hover:bg-blue-400 mr-2"
        (click)="onAddButtonClick()">Add</button>
      <button *ngIf="extraAdded"
        class="bg-blue-700 shadow-lg text-white rounded-lg py-2 px-5 justify-center text-center hover:bg-blue-400 mr-8"
        (click)="onDeleteButtonClick()">Delete</button>

    </div>
  </div>
</mat-dialog-content>